@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

/* Hide the drop marker next to firefox button */
#appmenu-toolbar-button > dropmarker,
#appmenu-button > .button-box dropmarker {
	display: none;
}

#appmenu-toolbar-button {
	list-style-image: url("chrome://branding/content/icon16.png");
}

#appmenu-toolbar-button > .toolbarbutton-text {
	display: none !important;
}


#toolbar-menubar {
	margin: -2px 0px 0px 0px;
}

toolbar {
	background-color: #333333 !important;
	height: 20px;
}

menuseparator {
	display: none;
}  


#urlbar-icons > image,
#urlbar-container dropmarker,
#appmenu-button .button-text,
#appmenu-button .button-menu-dropmarker
{
    display:none!important;
}
#urlbar-container {
	max-width:340px!important;
	min-width:260px!important;
}


/* change address bar font and size */
#urlbar {
	font-size:12px !important;
	font-family: terminus !important;
	height: 16px;
	-moz-appearance: none !important;
	-moz-border-radius: 0px !important;

	background:#1b1b1b!important;
	border:0!important;
	color:rgba(255,255,255,.6)!important;
	margin:0px 1px 1px!important;
	padding:0!important;
}

#urlbar:hover
{
	color:rgba(255,255,255,.8)!important;
}


/* Tab Stuff */

/* Tab title text size */
.tabbrowser-tabs .tab-text {
	font-size: 85%;
}

.tabbrowser-tab:not([pinned]) {
	min-width: 80px !important;
}

.tabbrowser-tab .tab-close-button {
	display: none !important;
}
/* remove favicons in tabs */
.tab-icon-image {
	display: none !important;
}

tabbrowser toolbarbutton[class^="scrollbutton"],
#TabsToolbar toolbarbutton[class^="scrollbutton"]
{
	display: none !important;
}

tab *{
	background-color:#333333 !important;
	text-shadow: none;
	color: #969696
}

tabs > tab {
        background: #333333 !important;
        border: solid #333333 !important;
        border-width: 0px 5px 0px 5px !important; /* top, right, bottom, left */
        height: 8px !important;
	margin: -2px 0px 0px 0px !important;
}

/* active tab */
tabs > tab[selected="true"] *, tabs > tab[selected="true"]:hover * {
	text-shadow: none !important;
        background-color: transparent !important;
        background-image: none !important;
        color: #FFF !important;
        font-weight: normal !important;
        font-size: 12px !important;
	background: #333333 !important;
}

/* Box in address bar with CA info */
#identity-box:not(:hover),
#identity-box:hover {
   background: none !important;
   box-shadow: none !important;
   border: none !important;
   border-radius: 0 !important;
   margin-right: 0px !important;
   padding-right:0px !important;
   font-size: 90%;
   color: #FFFFFF !important;
}

