keybinds clear-defaults=true {
    locked {
        bind "Ctrl c" { SwitchToMode "normal"; }
    }

    normal {
        bind "Alt t" { NewTab; }
        bind "Alt 1" { GoToTab 1; }
        bind "Alt 2" { GoToTab 2; }
        bind "Alt 3" { GoToTab 3; }
        bind "Alt 4" { GoToTab 4; }
        bind "Alt 5" { GoToTab 5; }
        bind "Alt 6" { GoToTab 6; }
        bind "Alt 7" { GoToTab 7; }
        bind "Alt 8" { GoToTab 8; }
        bind "Alt 9" { GoToTab 9; }
        bind "Ctrl PageUp" { GoToPreviousTab; }
        bind "Ctrl PageDown" { GoToNextTab; }
        bind "Alt esc" { ToggleTab; }

        bind "Alt D" { NewPane "Down"; }
        bind "Alt d" { NewPane "Right"; }

        bind "Alt h" { MoveFocus "Left"; }
        bind "Alt j" { MoveFocus "Down"; }
        bind "Alt k" { MoveFocus "Up"; }
        bind "Alt l" { MoveFocus "Right"; }

        bind "Alt g" { EditScrollback; }
    }

    pane {
        bind "e" { TogglePaneEmbedOrFloating; SwitchToMode "normal"; }
        bind "f" { ToggleFocusFullscreen; SwitchToMode "normal"; }
        bind "i" { TogglePanePinned; SwitchToMode "normal"; }
        bind "Ctrl p" { SwitchToMode "normal"; }
        bind "w" { ToggleFloatingPanes; SwitchToMode "normal"; }
        bind "z" { TogglePaneFrames; SwitchToMode "normal"; }
        bind "x" { CloseFocus; SwitchToMode "normal"; }
    }
    tab {
        bind "[" { BreakPaneLeft; SwitchToMode "normal"; }
        bind "]" { BreakPaneRight; SwitchToMode "normal"; }
        bind "b" { BreakPane; SwitchToMode "normal"; }
        bind "r" { SwitchToMode "renametab"; TabNameInput 0; }
        bind "s" { ToggleActiveSyncTab; SwitchToMode "normal"; }
        bind "Ctrl t" { SwitchToMode "normal"; }
        bind "x" { CloseTab; SwitchToMode "normal"; }
    }
    resize {
        bind "left" { Resize "Increase left"; }
        bind "down" { Resize "Increase down"; }
        bind "up" { Resize "Increase up"; }
        bind "right" { Resize "Increase right"; }
        bind "+" { Resize "Increase"; }
        bind "-" { Resize "Decrease"; }
        bind "=" { Resize "Increase"; }
        bind "H" { Resize "Decrease left"; }
        bind "J" { Resize "Decrease down"; }
        bind "K" { Resize "Decrease up"; }
        bind "L" { Resize "Decrease right"; }
        bind "h" { Resize "Increase left"; }
        bind "j" { Resize "Increase down"; }
        bind "k" { Resize "Increase up"; }
        bind "l" { Resize "Increase right"; }
        bind "Ctrl n" { SwitchToMode "normal"; }
    }
    move {
        bind "left" { MovePane "left"; }
        bind "down" { MovePane "down"; }
        bind "up" { MovePane "up"; }
        bind "right" { MovePane "right"; }
        bind "h" { MovePane "left"; }
        bind "Ctrl h" { SwitchToMode "normal"; }
        bind "j" { MovePane "down"; }
        bind "k" { MovePane "up"; }
        bind "l" { MovePane "right"; }
        bind "n" { MovePane; }
        bind "p" { MovePaneBackwards; }
        bind "tab" { MovePane; }
    }
    scroll {
        bind "s" { SwitchToMode "entersearch"; SearchInput 0; }
    }
    search {
        bind "c" { SearchToggleOption "CaseSensitivity"; }
        bind "n" { Search "down"; }
        bind "o" { SearchToggleOption "WholeWord"; }
        bind "p" { Search "up"; }
        bind "w" { SearchToggleOption "Wrap"; }
    }
    shared_except "locked" {
        bind "Alt +" { Resize "Increase"; }
        bind "Alt -" { Resize "Decrease"; }
        bind "Alt =" { Resize "Increase"; }
        bind "Alt f" { ToggleFloatingPanes; }
        bind "Alt i" { MoveTab "left"; }
        bind "Alt o" { MoveTab "right"; }
        bind "Alt p" { TogglePaneInGroup; }
        bind "Alt Shift p" { ToggleGroupMarking; }
        bind "Ctrl q" { Quit; }
    }
    shared_except "move" {
        bind "Ctrl h" { SwitchToMode "move"; }
    }
    shared_except "scroll" "search" {
        bind "Ctrl s" { SwitchToMode "scroll"; }
    }
    shared_except "tab" {
        bind "Ctrl t" { SwitchToMode "tab"; }
    }
    shared_except "pane" {
        bind "Ctrl p" { SwitchToMode "pane"; }
    }
    shared_except "resize" {
        bind "Ctrl n" { SwitchToMode "resize"; }
    }
    shared_except "normal" "entersearch" {
        bind "enter" { SwitchToMode "normal"; }
    }
    shared_except "normal" "entersearch" "renametab" {
        bind "esc" { SwitchToMode "normal"; }
    }
    shared_among "scroll" "search" {
        bind "PageDown" { PageScrollDown; }
        bind "PageUp" { PageScrollUp; }
        bind "left" { PageScrollUp; }
        bind "down" { ScrollDown; }
        bind "up" { ScrollUp; }
        bind "right" { PageScrollDown; }
        bind "Ctrl b" { PageScrollUp; }
        bind "Ctrl c" { ScrollToBottom; SwitchToMode "normal"; }
        bind "d" { HalfPageScrollDown; }
        bind "Ctrl f" { PageScrollDown; }
        bind "h" { PageScrollUp; }
        bind "j" { ScrollDown; }
        bind "k" { ScrollUp; }
        bind "l" { PageScrollDown; }
        bind "Ctrl s" { SwitchToMode "normal"; }
        bind "u" { HalfPageScrollUp; }
    }
    entersearch {
        bind "Ctrl c" { SwitchToMode "scroll"; }
        bind "esc" { SwitchToMode "scroll"; }
        bind "enter" { SwitchToMode "search"; }
    }
    renametab {
        bind "esc" { UndoRenameTab; SwitchToMode "tab"; }
    }
    shared_among "renametab" {
        bind "Ctrl c" { SwitchToMode "normal"; }
    }
}

// Plugin aliases - can be used to change the implementation of Zellij
// changing these requires a restart to take effect
plugins {
    about location="zellij:about"
    compact-bar location="zellij:compact-bar"
    configuration location="zellij:configuration"
    filepicker location="zellij:strider" {
        cwd "/"
    }
    plugin-manager location="zellij:plugin-manager"
    session-manager location="zellij:session-manager"
    status-bar location="zellij:status-bar"
    strider location="zellij:strider"
    tab-bar location="zellij:tab-bar"
    welcome-screen location="zellij:session-manager" {
        welcome_screen true
    }
}

session_name "z"
attach_to_session true

show_startup_tips false
show_release_notes false
simplified_ui true
default_layout "compact"
pane_frames false

theme "plain"
themes {
    plain {
        text_unselected {
            base 51 51 51
            background 51 51 51
            // Used to indicate other modes
            emphasis_0 255 0 0
            emphasis_1 0 255 0
            // Used to indicate normal mode
            emphasis_2 51 51 51
            emphasis_3 0 0 255
        }
        text_selected {
            base 198 200 209
            background 22 24 33
            emphasis_0 255 0 0
            emphasis_1 0 255 0
            emphasis_2 0 0 255
            emphasis_3 255 0 0
        }
        ribbon_selected {
            base 255 255 255
            background 51 51 51
            emphasis_0 255 0 0
            emphasis_1 0 255 0
            emphasis_2 0 0 255
            emphasis_3 255 0 0
        }
        ribbon_unselected {
            base 100 100 100
            background 51 51 51
            emphasis_0 255 0 0
            // Used to indicate the previously selected tab
            emphasis_1 51 51 51
            emphasis_2 0 0 255
            emphasis_3 255 0 0
        }
        table_title {
            base 132 160 198
            background 0
            emphasis_0 255 0 0
            emphasis_1 0 255 0
            emphasis_2 0 0 255
            emphasis_3 255 0 0
        }
        table_cell_selected {
            base 198 200 209
            background 22 24 33
            emphasis_0 255 0 0
            emphasis_1 0 255 0
            emphasis_2 0 0 255
            emphasis_3 255 0 0
        }
        table_cell_unselected {
            base 198 200 209
            background 30 33 50
            emphasis_0 255 0 0
            emphasis_1 0 255 0
            emphasis_2 0 0 255
            emphasis_3 255 0 0
        }
        list_selected {
            base 198 200 209
            background 22 24 33
            emphasis_0 255 0 0
            emphasis_1 0 255 0
            emphasis_2 0 0 255
            emphasis_3 255 0 0
        }
        list_unselected {
            base 198 200 209
            background 30 33 50
            emphasis_0 255 0 0
            emphasis_1 0 255 0
            emphasis_2 0 0 255
            emphasis_3 255 0 0
        }
        frame_selected {
            base 200 200 200
            background 0
            emphasis_0 255 0 0
            emphasis_1 0 255 0
            emphasis_2 0 0 255
            emphasis_3 255 0 0
        }
        frame_highlight {
            base 100 100 100
            background 0
            emphasis_0 255 0 0
            emphasis_1 0 255 0
            emphasis_2 0 0 255
            emphasis_3 255 0 0
        }
        exit_code_success {
            base 132 160 198
            background 0
            emphasis_0 255 0 0
            emphasis_1 0 255 0
            emphasis_2 0 0 255
            emphasis_3 255 0 0
        }
        exit_code_error {
            base 226 120 120
            background 0
            emphasis_0 255 0 0
            emphasis_1 0 255 0
            emphasis_2 0 0 255
            emphasis_3 255 0 0
        }
        multiplayer_user_colors {
            player_1 160 147 199
            player_2 180 190 130
            player_3 0
            player_4 226 164 120
            player_5 137 184 194
            player_6 0
            player_7 226 120 120
            player_8 0
            player_9 0
            player_10 0
        }
    }
}
